body {
  background-color: black;
  margin: 0;
}
.carousel-mainpage_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.carousel-mainpage_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.carousel-mainpage_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.carousel-mainpage_4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.carousel-firstpage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.carousel-secpage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.carousel-thirdpage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.carousel-forthpage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.textarea-latex {
  width: 60%;
  height: 70vh;
  margin: 5% auto;
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.editor-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 80vh;
  padding: 20px;
}

.latex-preview {
  width: 45%;
  height: 100%;
  padding: 20px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
