*, *::before, *::after {
  box-sizing: border-box;

}


.container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 50px;
    margin: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: white;
}
.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}
.container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F3F3F3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}
@page {
  margin: 1in;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;


}

.leftside,
.rightside {
  height: 115vh;
  width: 50%;
  font-size: 16px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: inline-block;

}

.leftside {
  border: 1px solid black;
  overflow: auto;
}

.rightside {
  color: black;
  width: 595px;
  height: 842px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 0px 20px;
  background-color: white;
}
.MuiFormHelperText-root {
  color: white !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
}
.MuiInputLabel-root {
  color: white !important;
}